$black: #040F16;
$white: #FFFFFF;
$red: #B80C09;
$handShadow: rgba($black, 0.5);
$shadow: rgba($black, 0.8);

%hand {
  transition: transform .1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transform-origin: 0 50%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px $handShadow;
}

.clock {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  border-radius: 50%;
  border: 20px solid $black;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  overflow: hidden;
  background-image: url(react.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  box-shadow: 0 2px 10px $shadow, inset 0 0 5px $shadow;

  &::after {
    content: "";
    display: block;
    padding-bottom: 100%;
    background: radial-gradient(circle, rgba($white, 0.6) 35%, rgba($black, 0.25) 100%);
    z-index: 9;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    background-color: $black;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    z-index: 5;
    box-shadow: 0 0 4px $shadow;
  }

  &__hours {
    @extend %hand;
    height: 7px;
    background-color: $black;
    width: 25%;
    z-index: 2;
  }

  &__minutes {
    @extend %hand;
    height: 7px;
    background-color: $black;
    width: 48%;
    z-index: 3;
  }

  &__seconds {
    @extend %hand;
    height: 3px;
    background-color: $red;
    width: 48%;
  }
}